body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 25%);

}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 30px;
}
#clock{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.753);
    margin-bottom: 25px;
}
#controls button{
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    min-width: 125px;
    border-radius: 10px;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}
#startBtn{
    background-color: hsl(120, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(120, 100%, 30%);
}
#stopBtn{
    background-color: hsl(0, 100%, 40%);
}
#stopBtn:hover{
    background-color: hsl(0, 100%, 30%);
}
#resetBtn{
    background-color: hsl(249, 100%, 50%);
}
#resetBtn:hover{
    background-color: hsl(249, 100%, 40%);
}